<p id="notice"><%= notice %></p>

<p>
  <strong>Quotation reference:</strong>
  <%= @inv.quotation_reference %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @inv.item_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inv.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inv.quantity %>
</p>

<%= link_to 'Edit', edit_inv_path(@inv) %> |
<%= link_to 'Back', invs_path %>
